# ~/.config/systemd/user/remote-plasma.service

[Unit]
Description=Remote KDE Plasma Session
Requires=xdummy.service
After=xdummy.service

[Service]
Type=simple

Environment=DISPLAY=:99
Environment=XDG_SESSION_TYPE=x11
Environment=XDG_CURRENT_DESKTOP=KDE
Environment=DESKTOP_SESSION=plasma
Environment=KDE_FULL_SESSION=true
Environment=XDG_RUNTIME_DIR=/run/user/%U

ExecStart=/usr/bin/startplasma-x11

Restart=no

[Install]
WantedBy=remote-plasma-gui.target
